h1 {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 3.2em;
}

body {
  background-image: url("../img/rugfest_background.png");
}

.container {
  text-align: center;
  font-size: 1.15em;
}

.festival-details {
  font-style: italic;
}

.navbar {
  text-align: center;
}

.inputs {
  font-family: Impact, Charcoal, sans-serif;
}